.navbar-nav {
    display: flex;
}

.menuItem {
    &.recommendations {
        background-image: url('../images/hamburguesa.png');
    }
    &.cafe {
        background-image: url('../images/cafeteria.png')
    }
    &.dessert {
        background-image: url('../images/dessert.png')
    }
    &.refreshments {
        background-image: url('../images/refreshments.png')
    }
    &.drinks {
        background-image: url('../images/drinks.png')
    }
    &.vegetarian {
        background-image: url('../images/vegetal.png')
    }
    &.bebidas {
        background-image: url('../images/cervezas.png')
    }
    &.pizzas {
        background-image: url('../images/pizza.png')
    }
    &.empanadas {
        background-image: url('../images/empanada.png')
    }
}
